<div class="top-content">
    <div class="content1">
        <img class="top-img" src="https://images.unsplash.com/photo-1551893133-08b564951ca2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
        <h4 class="display-3">ようこそNaganoCakeへ</h4>
        <p>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </p>
    </div>
    <div class="content2">
        <img class="top-img" src="https://firebasestorage.googleapis.com/v0/b/remo-conference.appspot.com/o/Event%2FChatMedia%2Fika2xidiyr%2Fpexels-lisa-fotios-1129510.jpg?alt=media&token=83a38341-44c0-4343-8f93-76abb9169998">
        <h4 class="display-3">ようこそNaganoCakeへ</h4>
        <p>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </p>
    </div>
    <div class="content3">
        <img class="top-img" src="https://images.unsplash.com/photo-1511999274094-689a928a70ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        <h4 class="display-3">ようこそNaganoCakeへ</h4>
        <p>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </p>
    </div>
</div>

