<div class="top-content">
    <div class="content1">
        <img class="top-img" src="https://images.unsplash.com/photo-1541491008689-b5d3c6615e2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1663&q=80">
        <h4 class="display-3">ようこそNaganoCakeへ</h4>
        <p>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </p>
    </div>
    <div class="content2">
        <img class="top-img" src="https://images.unsplash.com/photo-1578180921031-ae4f47bd2042?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
        <h4 class="display-3">ようこそNaganoCakeへ</h4>
        <p>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </p>
    </div>
    <div class="content3">
        <img class="top-img" src="https://images.unsplash.com/photo-1551893133-08b564951ca2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
        <h4 class="display-3">ようこそNaganoCakeへ</h4>
        <p>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </p>
    </div>
</div>