/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
  margin: 0;
  padding: 0;
}
/* ヘッダー */ 
 header {
  background-color: #c9e9e6;
}

 .submit{
  border-style: none;
  background-color: #c9e9e6;
 }

 .searchform{
   float: right;
 }

/* フラッシュメッセージ */
.flash {
  position: absolute;
}  

/* メインビジュアル */ 
.top-content {
  margin-top: -20px;
  position: relative;
}

.top-content h4 {
  position: absolute;
  color: white;
  top: 150px;
  left: 50px;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 16px rgba(255,255,255,0.3);
}

.top-content p {
  position: absolute;
  color: white;
  top: 240px;
  left: 70px;
  font-weight: bold;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

.top-img{
  height: 500px;
	width :100%;
	object-fit: cover;
}

// body {
//   background-image: url("leaves-pattern.png");
// }

 /* 商品 */ 
 #about-img {
  background-image: url('bakery.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
 }

 #about-img:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.about-contents {
  margin-top: 300px;
  text-shadow:0 0 10px #000;
}

 .submit{
  border-style: none;
  background-color: #c9e9e6;
 }

 .searchform{
   float: right;
 }

 .notify-badge{
  position: absolute;
  background-color: red;
  height: 2.0rem;
  top: 0.5rem;
  right: 0.5rem;
  width: 6rem;
  text-align: center;
  line-height: 1.0rem;;
  font-size: 1.5rem;
  border-radius: 50%;
  color:white;
}

.product-img {
  border-radius: 10%;
}

.favorite-card {
  margin-top: 110px;
}

.product-index {
  height: 250px;
}

.name-text {
  width: 150px;
  margin-top: 5px;
}

.badge-danger {
  background: red;
  color: white;
}

/* ページネーションデザイン */
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
}
