/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
  margin: 0;
  padding: 0;
}
/* ヘッダー */ 
 header {
  background-color: #c9e9e6;
}

 .submit{
  border-style: none;
  background-color: #c9e9e6;
 }

 .searchform{
   float: right;
 }

/* メインビジュアル */ 
 #top-img {
   background-image: url('top-img.jpeg');
   background-repeat: no-repeat;
   background-position: right 15% bottom 65%;
   background-size: 100% auto;
   margin-top: -20px;
   color: white;
   height: 430px;
 }


 /* 商品 */ 
 #about-img {
  background-image: url('bakery.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
 }

 #about-img:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.about-contents {
  margin-top: 300px;
  text-shadow:0 0 10px #000;
}

 .submit{
  border-style: none;
  background-color: #c9e9e6;
 }

 .searchform{
   float: right;
 }

 .notify-badge{
  position: absolute;
  background-color: red;
  height: 3rem;
  top: 0.5rem;
  right: 2rem;
  width: 6rem;
  text-align: center;
  line-height: 2rem;;
  font-size: 2rem;
  border-radius: 50%;
  color:white;
}
