<h1>Admins::Products#new</h1>
<p>Find me in app/views/admins/products/new.html.erb</p>

<%= form_with model:[:admins,@product], local: true do |f| %>
    <p>ジャンル</p>
    <%= f.text_field :name %>
    <%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] } %>
    <%= f.submit %>
<% end %>